//- layout.pug
doctype html
html
  head
    script(src="shared/jquery.js")
    script(src="shared/shiny.js")
    link(rel="stylesheet" type="text/css" href="shared/shiny.css")
    title Hello Packer
  body
    p Place the content here
